# Ignore node_modules directory
node_modules/

# Ignore the dist directory
dist/

# Ignore environment variable file

# Ignore any log files
*.log

# Ignore any system specific files
.DS_Store
Thumbs.db